{% extends "base.html" %}
{% load str_extensions %}


{% block title %}
Главная
{% endblock %}

{% block content %}
    <div class="row">
        Колличество постов на странице: {{posts|length}}
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for item in posts %}
        <div class="post-preview">
          <a href="{% url 'blog:post' id=item.id %}">
            <h2 class="post-title">
              {{ item.name }}
            </h2>
            <h3 class="post-subtitle">
              Описание ({{item.category.name}}) ({{item.user.username}})
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2024.
          {% if item.has_image %}
            Есть картинка
            {% else %}
            Нет картинки
          {% endif %}
            {{item.has_image}}
            {{item.some_method}}

          </p>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->

                <div class="clearfix">

<div class="clearfix">
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a class="btn btn-primary" href="?page={{ posts.previous_page_number }}">Previous Page</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next Page</a>
                <a class="btn btn-primary float-right" href="?page={{ posts.next_page_number }}">Older Posts →</a>
            {% endif %}
        </span>
    </div>
</div>



{% endblock %}