{% extends "base.html" %}

{% block title %}
Список тегов
{% endblock %}

{% block content %}
<h1>{{name}}</h1>
<ul>
    {% for item in tags %}
    <li>
        <a href="{% url 'blogapp:tag_detail' pk=item.pk %}">
            {{item.name}}
        </a>
/
        <a href="{% url 'blogapp:tag_update' pk=item.pk %}">
            Изменить
        </a>
/
        <a href="{% url 'blogapp:tag_delete' pk=item.pk %}">
            Удалить
        </a>

    </li>
    {% endfor %}

        <a href="{% url 'blogapp:tag_create' %}">Создать новый тег</a>
    </ul>
{% endblock %}
